<section id="about" class="about">
  <div class="container about-wrapper">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="/img/about/desca.jpg 1x, /img/about/desca2x.jpg 2x"
      />

      <source
        media="(min-width: 768px)"
        srcset="/img/about/taba.jpg 1x, ../img/about/taba2x.jpg 2x"
      />
      <img
        class="about-img"
        src="/img/about/moba.jpg"
        srcset="/img/about/moba.jpg 1x, ../img/about/moba2x.jpg 2x"
        alt="Jewelry making process"
        width="335"
        height="335"
        loading="lazy"
      />
    </picture>

    <div class="about-info">
      <h2 class="about-title title-glob">
        The Artistry Behind Handmade Jewelry
      </h2>

      <p class="about-text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>

      <ul class="about-list">
        <li class="about-item about-item-leaf">
          <p>Inspired by Nature</p>
        </li>

        <li class="about-item about-item-heart">
          <p>Handcrafted with Love</p>
        </li>

        <li class="about-item about-item-book">
          <p>Every Piece Tells a Story</p>
        </li>
      </ul>
    </div>
  </div>
</section>
