<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Jewelry Showcase</h2>
    <p class="gallery-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>
    <ul class="gallery-list">
      <!-- ПЕРША ПАРА (li №1) -->
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/desctop/amethystine.jpg   1x,
                ../img/gallery/desctop/amethystine2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/tab/amethystine.jpg   1x,
                ../img/gallery/tab/amethystine2x.jpg 2x
              "
            />
            <img
              src="../img/gallery/mob/amethystine.jpg"
              srcset="../img/gallery/mob/amethystine2x.jpg 2x"
              alt="Amethyst jewelry"
              width="335"
              height="335"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/desctop/amberglow.jpg   1x,
                ../img/gallery/desctop/amberglow2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/tab/amberglow.jpg   1x,
                ../img/gallery/tab/amberglow2x.jpg 2x
              "
            />
            <img
              src="../img/gallery/mob/amberglow.jpg"
              srcset="../img/gallery/mob/amberglow2x.jpg 2x"
              alt="Amberglow"
              width="335"
              height="335"
              loading="lazy"
            />
          </picture>
        </div>
      </li>

      <!-- ДРУГА ПАРА (li №2) -->
      <li class="gallery-item">
        <div class="gallery-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/desctop/ethnocharm.jpg   1x,
                ../img/gallery/desctop/ethnocharm2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/tab/ethnocharm.jpg   1x,
                ../img/gallery/tab/ethnocharm2x.jpg 2x
              "
            />
            <img
              src="../img/gallery/mob/ethnocharm.jpg"
              srcset="../img/gallery/mob/ethnocharm2x.jpg 2x"
              alt="Ethnocharm"
              width="335"
              height="335"
              loading="lazy"
            />
          </picture>
        </div>

        <div class="gallery-thumb">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/desctop/terracotta.jpg   1x,
                ../img/gallery/desctop/terracotta2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/tab/terracotta.jpg   1x,
                ../img/gallery/tab/terracotta2x.jpg 2x
              "
            />
            <img
              src="../img/gallery/mob/terracotta.jpg"
              srcset="../img/gallery/mob/terracotta2x.jpg 2x"
              alt="Terracotta"
              width="335"
              height="335"
              loading="lazy"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
