<section class="gallery" id="gallery">
  <div class="container box-gallery-container">
    <h2 class="gallery-title title-glob">Jewelry Showcase</h2>
    <p class="gallery-description">
      Discover the beauty of our handcrafted jewelry in style.
    </p>

    <ul class="gallery-list">
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
            /img/gallery/desktop/amethystine.jpg   1x,
            /img/gallery/desktop/amethystine2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            /img/gallery/tab/amethystine.jpg   1x,
            /img/gallery/tab/amethystine2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/mob/amethystine.jpg"
            alt="Amethyst jewelry"
            width="335"
            height="335"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
            /img/gallery/desktop/amberglow.jpg   1x,
            /img/gallery/desktop/amberglow2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            /img/gallery/tab/amberglow.jpg   1x,
            /img/gallery/tab/amberglow2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/mob/amberglow.jpg"
            alt="Amberglow"
            width="335"
            height="335"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
            /img/gallery/desktop/ethnocharm.jpg   1x,
            /img/gallery/desktop/ethnocharm2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            /img/gallery/tab/ethnocharm.jpg   1x,
            /img/gallery/tab/ethnocharm2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/mob/ethnocharm.jpg"
            alt="Ethnocharm"
            width="335"
            height="335"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
            /img/gallery/desktop/terracotta.jpg   1x,
            /img/gallery/desktop/terracotta2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            /img/gallery/tab/terracotta.jpg   1x,
            /img/gallery/tab/terracotta2x.jpg 2x
            "
          />
          <img
            src="/img/gallery/mob/terracotta.jpg"
            alt="Terracotta"
            width="335"
            height="335"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
