<header class="header">
  <div class="container header-container">
    <!-- Лого -->

    <a href="/index.html" class="header-logo">
      <img
        class="header-logo-img"
        src="/img/logo.svg"
        alt="Handmade jewelry logo"
      />
    </a>

    <!-- Навігація -->
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="#about" class="header-nav-link">About us</a>
        </li>
        <li class="header-nav-item">
          <a href="#benefits" class="header-nav-link">Benefits</a>
        </li>
        <li class="header-nav-item">
          <a href="#gallery" class="header-nav-link">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a href="#testimonials" class="header-nav-link">Testimonials</a>
        </li>
        <li class="header-nav-item">
          <a href="#contacts" class="header-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>

    <!-- Кнопка (якір) -->
    <a href="#order" class="header-btn btn">Order Now</a>

    <!-- Кнопка бургер-меню -->
    <button class="burger-btn" type="button" aria-label="Open mobile menu">
      <svg class="burger-icon" width="24" height="24">
        <use href="/img/symbol-defs.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
