<section>
  <div class="container hero-container" data-aos="zoom-in">
    <h1 class="title-glob hero-title" data-aos="fade-up">
      Discover the Art of Handmade Jewelry
    </h1>
    <p class="hero-text" data-aos="fade-up" data-aos-delay="100">
      Each piece of our jewelry tells a story, crafted with love and care.
      Embrace the beauty of uniqueness and sustainability in every design.
    </p>
    <a
      class="btn hero-btn"
      href="#contacts"
      data-aos="fade-up"
      data-aos-delay="200"
      >Order Now</a
    >
  </div>
</section>
