<div class="mob-menu">
  <div class="menu-container container">
    <div class="menu-content">
      <a href="./index.html" class="menu-logo">
        <img
          class="menu-logo-img"
          src="./img/logo.svg"
          alt="Handmade jewelry logo"
        />
      </a>
      <button type="button" class="menu-close-button">
        <svg class="mob-close-icon" width="24" height="24">
          <use href="/img/symbol-defs.svg#icon-exit"></use>
        </svg>
      </button>
    </div>

    <nav class="menu-nav">
      <ul class="menu-nav-list" data-aos="fade-right" data-aos-delay="100">
        <li class="menu-nav-item" data-aos="fade-right" data-aos-delay="120">
          <a href="#about" class="menu-nav-link">About us</a>
        </li>
        <li class="menu-nav-item" data-aos="fade-right" data-aos-delay="240">
          <a href="#benefits" class="menu-nav-link">Benefits</a>
        </li>
        <li class="menu-nav-item" data-aos="fade-right" data-aos-delay="360">
          <a href="#gallery" class="menu-nav-link">Gallery</a>
        </li>
        <li class="menu-nav-item" data-aos="fade-right" data-aos-delay="480">
          <a href="#testimonials" class="menu-nav-link">Testimonials</a>
        </li>
        <li class="menu-nav-item" data-aos="fade-right" data-aos-delay="600">
          <a href="#contacts" class="menu-nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <a href="#contacts" class="menu-btn btn">Order Now</a>
  </div>
</div>
