<div class="backdrop" id="backdrop" popover>
    <div class="modal-box ">
        <button popovertarget="backdrop" popovertargetaction="hide" class="modal-btn-x">
            <svg width="32" height="32">
                <use href="../img/symbol-defs.svg#icon-exit"></use>
            </svg>
        </button>
        <h2 class="modal-title title-glob">Order now</h2>
        <form class="contacts-form modal-form">
            <div class="contacts-field">
                <label class="contacts-form-label required" for="username-modal">Name</label>
                <input class="contacts-input" type="text" name="username" id="username-modal" placeholder="Tony"
                    pattern="^[a-zA-Zа\s\-\.]{2,40}$" required />
                <p class="contacts-error">Please enter your name</p>
            </div>
        
            <div class="contacts-field">
                <label class="contacts-form-label required" for="phone-modal">Phone</label>
                <input class="contacts-input" type="tel" name="phone" id="phone-modal" placeholder="+1 234 567 8900"
                    pattern="^\+[0-9\s]{14}$" required />
                <p class="contacts-error">Please enter a valid phone number</p>
            </div>
        
            <div class="contacts-field">
                <label class="contacts-form-label" for="message-modal">Describe what you want</label>
                <textarea class="contacts-textarea" name="message" id="message-modal" placeholder="Type your message..."
                    maxlength="500" required></textarea>
                <p class="contacts-error">Message cannot be empty</p>
            </div>
        
            <button type="submit" class="btn contacts-btn modal-btn">
                Submit
            </button>
        </form>
    </div>
</div>