<section id="testimonials">
  <div class="container testimonials-container">
    <h2 class="title-glob testimonials-title">Customer testimonials</h2>
    <p class="testimonials-text">
      Absolutely love my new earrings! They are stunning.
    </p>

    <ul class="testimonials-list">
      <li class="testimonials-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/testimonial/desc/Serenity.jpg   1x,
              /img/testimonial/desc/Serenity2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/testimonial/tab/Serenity.jpg   1x,
              /img/testimonial/tab/Serenity2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/testimonial/mob/Serenity.jpg   1x,
              /img/testimonial/mob/Serenity2x.jpg 2x
            "
          />
          <img
            src="../img/testimonial/mob/Serenity.jpg"
            alt="Serenity"
            width="335"
            class="testimonials-item-img"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/testimonial/desc/Heritage.jpg   1x,
              /img/testimonial/desc/Heritage2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/testimonial/tab/Heritage.jpg   1x,
              /img/testimonial/tab/Heritage2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/testimonial/mob/Heritage.jpg   1x,
              /img/testimonial/mob/Heritage2x.jpg 2x
            "
          />
          <img
            src="/img/testimonial/mob/Heritage.jpg"
            alt="Heritage"
            width="335"
            class="testimonials-item-img"
          />
        </picture>

        <div class="testimonials-item-content">
          <div class="testimonials-icon-wrapper">
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon star-outline">
              <use href="/img/symbol-defs.svg#icon-star-outline"></use>
            </svg>
          </div>
          <p class="testimonials-review-text">
            "Each piece tells a story, and I love mine!"
          </p>
          <p class="testimonials-review-author">Thomas Mans</p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-item-content">
          <div class="testimonials-icon-wrapper">
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
            <svg width="24" height="24" class="testimonials-icon">
              <use href="/img/symbol-defs.svg#icon-star-fiiled"></use>
            </svg>
          </div>
          <p class="testimonials-review-text">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </p>
          <p class="testimonials-review-author">Jane Edison</p>
        </div>

        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/testimonial/desc/Cozy.jpg   1x,
              /img/testimonial/desc/Cozy2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/testimonial/tab/Cozy.jpg   1x,
              /img/testimonial/tab/Cozy2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/testimonial/mob/Cozy.jpg   1x,
              /img/testimonial/mob/Cozy2x.jpg 2x
            "
          />
          <img
            src="/img/testimonial/mob/Cozy.jpg"
            alt="Cozy"
            width="335"
            class="testimonials-item-img"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/testimonial/desc/Timeless.jpg   1x,
              /img/testimonial/desc/Timeless2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/testimonial/tab/Timeless.jpg   1x,
              /img/testimonial/tab/Timeless2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/testimonial/mob/Timeless.jpg   1x,
              /img/testimonial/mob/Timeless2x.jpg 2x
            "
          />
          <img
            src="/img/testimonial/mob/Timeless.jpg"
            alt="Timeless"
            width="335"
            class="testimonials-item-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
