.about-wrapper {
  padding-top: 56px;
  padding-bottom: 56px;
}

.about-img {
  margin-bottom: 32px;
}

.about-title {
  margin-bottom: 24px;
}

.about-text {
  font-size: 18px;
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
}

.about-item::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.about-item-leaf::before {
  background-image: url('../img/about/leaf.svg');
}
.about-item-heart::before {
  background-image: url('../img/about/donate-heart.svg');
}
.about-item-book::before {
  background-image: url('../img/about/book.svg');
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .about-img {
    margin-bottom: 32px;
    width: 704px;
    height: 456px;
  }
}

@media screen and (min-width: 1440px) {
  .about-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  .about-img {
    margin-bottom: 0;
    width: 640px;
  }

  .about-info {
    max-width: 640px;
  }
}
