/* --- Секція Gallery --- */
.box-gallery-container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.gallery-description {
  font-size: 18px;
}

.box-gallery-container .gallery-list {
  display: flex;
}

.gallery-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -0.01em;
  color: #000;
  margin-bottom: 24px;
}
.gallery-title,
.gallery-description {
  text-align: center;
}

/* --- (Mobile first) --- */
.gallery-list {
  flex-direction: column;
  gap: 16px;
}
.gallery-description {
  margin-bottom: 40px;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* --- TABLET (768px+) --- */
@media screen and (min-width: 768px) {
  .gallery-description {
    margin-bottom: 80px;
  }

  .gallery-list {
    flex-wrap: wrap;
    justify-content: space-between;
    height: 626px;
    gap: 24px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }

  .gallery-item:nth-child(1) img {
    height: 368px;
  }
  .gallery-item:nth-child(2) img {
    height: 226px;
  }
  .gallery-item:nth-child(3) img {
    height: 216px;
  }
  .gallery-item:nth-child(4) img {
    height: 386px;
  }
}

/* --- DESKTOP (1440px+) --- */
@media screen and (min-width: 1440px) {
  .gallery-title {
    font-size: 48px;
  }

  .gallery-title,
  .gallery-description {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

  .gallery-list {
    flex-direction: column;
    height: 1098px;
  }

  .gallery-item {
    width: 640px;
  }

  .gallery-item:nth-child(1) img {
    height: 640px;
  }
  .gallery-item:nth-child(2) img {
    height: 426px;
  }
  .gallery-item:nth-child(3) img {
    height: 426px;
  }
  .gallery-item:nth-child(4) img {
    height: 640px;
  }
}
