.header-container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 2px 0;
}

.header-logo-img {
  display: block;
  width: 160px;
  height: 68px;
}

.header-nav,
.header-btn {
  display: none;
}

.burger-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .header-container {
    padding-top: 18px;
    padding-bottom: 18px;
    justify-content: space-between;
  }

  .burger-btn {
    display: none;
  }

  .header-logo {
    padding: 0;
  }

  .header-logo-img {
    width: 84px;
    height: 36px;
  }

  .header-nav {
    display: block;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .header-nav-link {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    text-decoration: none;
    transition:
      color 250ms ease,
      text-decoration 250ms ease;
  }

  .header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0;
    height: 1px;
    background-color: currentColor;

    transition: width 250ms ease;
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    width: 100%;
  }

  .header-nav-link:active {
    color: #8668c7;
  }

  .header-nav-link.inactive {
    color: #b3b3b3;
    pointer-events: none;
  }

  .header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 119px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header-container {
    justify-content: flex-start;
  }

  .header-nav {
    margin-left: 32px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header-btn {
    width: 192px;
    margin-left: auto;
  }
}
